@media (min-width: 600px) {
  .css-lw1dqp {
      height: 100px;
  }
}
@media (min-width: 1200px) {
  .css-13lrvwv {
      max-width: 1200px;
  }
}
@media (min-width: 600px) {
  .css-13lrvwv {
      padding-left: 24px;
      padding-right: 24px;
  }
}